/* font style */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root{
  --p-color: rgb(100, 100, 100);
  --text-color: rgb(35, 35, 35);
  --hover-color: rgb(225, 104, 77);
  --bg-color: rgb(250, 250, 250);
}
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  margin: 0; padding: 0;
  transition: .2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}
section{
  margin: 0 6rem;
}

h1.heading{
  margin-top: 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2rem;
}

#menu-btn{
  cursor: pointer;
}

/* header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.5rem 1rem 4rem;
}
.header img{
  width: 40px;
}
.header nav a{
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1rem;
  color: var(--text-color);
  font-weight: bolder;
}
.header nav a:hover{
  color: var(--p-color);
}
.header .icons{
  font-size: 1.5rem;
}
/* home */

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home img{
  width: 30rem;
  padding: 3rem 0;
  color: var(--text-color);
}
.home h1{
  font-size: 6rem;
  line-height: 6rem;
}
.home a.btn{
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  font-weight: bolder;
  color: var(--text-color);
  padding: .25rem 2rem;
  border: 4px solid var(--text-color);
}
.home a.btn:hover{
  margin-left: -.2rem;
  padding: .25rem 2.2rem;
}

/* about me */
.aboutcontent{
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
}
.aboutcontent img{
  width: 20rem;
  box-shadow: var(--bg-color) -20px 20px 0px -4px, var(--text-color) -20px 20px;
}
.aboutcontent .infomation{
  margin-right: 5rem;
}
.aboutcontent .intro{
  font-size: 1.4rem;
}
.aboutcontent .intro span{
  font-weight: bolder;
}
.aboutcontent .paragraph{
  color: var(--p-color);
  font-size: 1.1rem;
}
.aboutcontent2{
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
  align-items: center;
}
.aboutcontent2 img{
  width: 20rem;
}
.aboutcontent2 .container{
  margin-left: 2rem;
}
.aboutcontent2 .intro{
  line-height: 3rem;
}
.aboutcontent2 .name{
  font-size: 3rem;
  font-weight: bolder;
}
.aboutcontent2 .description{
  font-weight: bolder;
  font-size: 1.2rem;
  color: rgb(0, 123, 255);
}
.aboutcontent2 .infomation{
  display: flex;
  font-size: 1.3rem;
  color: var(--p-color);
  align-items: center;
}
.aboutcontent2 .infomation .column1{
  font-weight: lighter;
}

.aboutcontent2 .infomation span{
  font-size: 1.5rem;
  color: var(--text-color);
}
.aboutcontent2 .column2{
  line-height: 2.5rem;
  font-size: 1.4rem;
  margin-left: 2.5rem;
  padding-left: 1rem;
  border-left: 1px solid var(--p-color);
}
.aboutcontent2 .column2 .title{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: bolder;
}

.aboutcontent2 .column2{
  font-weight: bolder;
}

.aboutcontent2 .column2 .payme{
  font-size: 1rem;
  color: var(--hover-color);
  text-transform: 
  uppercase;
}
/* skills */

.skills .container{
  display: flex;
  justify-content: center;
}

.skills .title{
  font-size: 1.5rem;
  font-weight: bolder;
}

.skills .description{
  font-size: 1rem;
  color: var(--p-color);
}

.skills .box{
  margin: 1rem 1rem;
  width: 15rem;
}

.skills .box img{
  width: 5rem;
  margin: 5rem;
}

.skills .box .bgimage1{
  width: fit-content;
  border-radius: 25px;
  background: rgb(42, 64, 105);
}
.skills .box .bgimage2{
  width: fit-content;
  border-radius: 25px;
  background: rgb(255, 200, 0);

}
.skills .box .bgimage3{
  width: fit-content;
  border-radius: 25px;
  background: rgb(125, 125, 125);
}

/* project section */


.project .container .row{
  margin: 1rem 0;
  display: flex;
  align-items: center;
  background: rgba(125, 125, 125,.1);
}


.project .container .row img{
  width: 180px;
  margin-bottom: -6px;
}

.project .container .row .infomation{
  position: relative;
  padding: 2rem 1rem;
}

.project .container .row .infomation .name{
  top: 0; left: 1rem;
  position: absolute;
  font-size: 20px;
  font-weight: bolder;
  color: var(--text-color);
}

.project .container .row .infomation .description{
  font-size: 18px;
  color: var(--p-color);
}

.project .container .row .infomation span{
  font-weight: bolder;
}

.project .container .row .infomation .link{
  text-align: right;
  position: absolute;
  bottom: 0; right: 1rem;
}

.project .container .row .infomation .link a{
  text-align: center;
  text-decoration: none;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 18px;
  color: var(--text-color);
  border-radius: 50%;
  border: 1px solid var(--text-color);
  margin: 2px;

}

.project .container .row .infomation .link a:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
}

/* Contact section */

.contact{
  padding: 1px 6rem 3rem 6rem;
  margin: 0;
  margin-top: 3rem;
  background: rgba(125, 125, 125,.1);
  text-align: center;
}

.contact .share{
  margin-bottom: 1rem;
}

.contact .share a{
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 20px;
  color: var(--text-color);
  border: var(--text-color);
  border-radius: 50%;
}

.contact .share a:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
}

.contact .share1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.contact .share1 p{
  font-size: 18px;
  color: var(--text-color);
  justify-content: space-between;
}
.contact .share1 p span{
  font-size: 22px;
  color: var(--text-color);
  font-weight: bolder;
}
.contact .share1 .intouch{
  text-align: left;
  display: flex;
}
.contact .share1 .intouch #icon{
  margin: 0 10px;
  cursor: pointer;
}

.btn2 {
  text-decoration: none;
  padding: .5rem 2rem;
  font-size: 20px;
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.btn2:hover {
  color: var(--bg-color);
  background: var(--text-color);
}

.footer{
  text-align: center;
  margin: 0;
  background: var(--text-color);
}
.footer p{
  color: var(--bg-color);
  font-size: 16px;
}















  


/* screen responsive */

@media (max-width: 1280px) {

  section{
    margin: 0 2rem;
  }
  
  h1.heading{
    margin-top: 3rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  /* home */
  
  .home img{
    width: 25rem;
  }
  
  /* about me */
  .aboutcontent{
    margin-bottom: 5rem;
  }

  .aboutcontent img{
    width: 17rem;
  }

  .aboutcontent .infomation{
    margin-right: 2rem;
  }

  .aboutcontent .intro{
    font-size: 16px;
  }

  .aboutcontent .paragraph{
    font-size: 13px;
  }

  .aboutcontent2 img{
    width: 16rem;
  }
  .aboutcontent2 .container{
    margin-left: .5rem;
  }
  .aboutcontent2 .intro{
    line-height: 2.5rem;
  }
  .aboutcontent2 .name{
    font-size: 2.5rem;
  }
  .aboutcontent2 .description{
    font-size: .9rem;
  }
  .aboutcontent2 .infomation{
    font-size: 1.1rem;
  }

  .aboutcontent2 .infomation span{
    font-size: 1.3rem;
  }
  .aboutcontent2 .column2{
    line-height: 2rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    padding-left: .5rem;
  }
  .aboutcontent2 .column2 .title{
    font-size: 1.5rem;
  }
  
  .aboutcontent2 .column2 .payme{
    font-size: .85rem;
  }
  /* skills */
    
  .skills .title{
    font-size: 1.4rem;
  }
  
  .skills .description{
    font-size: 16px;
  }
  
  .skills .box{
    margin: 1rem 1rem;
    width: 15rem;
  }
  
  .skills .box img{
    width: 5rem;
  }  
  /* project section */
  
  .project .container .row{
    margin: 2rem 0;
  }
  
  
  .project .container .row img{
    width: 180px;
  }
  
  .project .container .row .infomation{
    padding: 2rem 1rem;
  }
  
  .project .container .row .infomation .name{
    font-size: 18px;
  }
  
  .project .container .row .infomation .description{
    font-size: 13px;
  }
      
  .project .container .row .infomation .link a{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 16px;
  
  }
    
  /* Contact section */
  
  .contact{
    padding: 1px 4rem 3rem 4rem;
  }
  
  .contact .share{
    margin-bottom: 1rem;
  }
  
  .contact .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 20px;
  }
  
  .contact .share1{
    margin-bottom: 3rem;
  }
  
  .contact .share1 p{
    font-size: 18px;
  }

  .contact .share1 p span{
    font-size: 22px;
  }

  .contact .share1 .intouch #icon{
    margin: 0 10px;
    cursor: pointer;
  }
  
  .btn2 {
    padding: .4rem 1.9rem;
    font-size: 16px;
  }
    
  .footer{
    margin: 0;
  }
  .footer p{
    font-size: 14px;
  }
}







@media (max-width: 1024px) {
  section{
    margin: 0 1rem;
  }
  
  h1.heading{
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  /* home */

  .home h1{
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .home a.btn{
    font-size: 1rem;
    padding: .12.5rem 1rem;
    border: 1px solid var(--text-color);
  }
  
  .home img{
    width: 20rem;
  }
  
  /* about me */
  .aboutcontent{
    margin-bottom: 5rem;
  }

  .aboutcontent img{
    width: 14rem;
  }

  .aboutcontent .infomation{
    margin-right: 2rem;
  }

  .aboutcontent .intro{
    font-size: 16px;
  }

  .aboutcontent .paragraph{
    font-size: 13px;
  }

  .aboutcontent2 img{
    width: 14rem;
  }
  .aboutcontent2 .container{
    margin-left: .5rem;
  }
  .aboutcontent2 .intro{
    line-height: 2.5rem;
  }
  .aboutcontent2 .name{
    font-size: 2rem;
  }
  .aboutcontent2 .description{
    font-size: .95rem;
  }
  .aboutcontent2 .infomation{
    font-size: 1rem;
  }

  .aboutcontent2 .infomation span{
    font-size: 1.1rem;
  }
  .aboutcontent2 .column2{
    line-height: 1.5rem;
    font-size: .9rem;
    margin-left: 1rem;
    padding-left: .25rem;
  }
  .aboutcontent2 .column2 .title{
    font-size: 1.25rem;
  }
  
  .aboutcontent2 .column2 .payme{
    font-size: .65rem;
  }
  /* skills */
    
  .skills .title{
    font-size: 1rem;
  }
  
  .skills .description{
    font-size: 10px;
  }
  
  .skills .box{
    margin: 1rem 1rem;
    width: 9rem;
  }
  
  .skills .box img{
    width: 3rem;
    margin: 3rem;
  }  
  /* project section */
  
  .project .container .row{
    margin: 2rem 0;
  }
  
  
  .project .container .row img{
    width: 140px;
  }
  
  .project .container .row .infomation{
    padding: 2rem 1rem;
  }
  
  .project .container .row .infomation .name{
    font-size: 18px;
  }
  
  .project .container .row .infomation .description{
    font-size: 13px;
  }
      
  .project .container .row .infomation .link a{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 10px;
  
  }
    
  /* Contact section */
  
  .contact{
    padding: 1px 4rem 3rem 4rem;
  }
  
  .contact .share{
    margin-bottom: 1rem;
  }
  
  .contact .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 20px;
  }
  
  .contact .share1{
    margin-bottom: 3rem;
  }
  
  .contact .share1 p{
    font-size: 15px;
  }

  .contact .share1 p span{
    font-size: 18px;
  }

  .contact .share1 .intouch #icon{
    margin: 0 8px;
    cursor: pointer;
  }
  
  .btn2 {
    padding: .4rem 1.5rem;
    font-size: 12px;
  }
    
  .footer{
    margin: 0;
  }
  .footer p{
    font-size: 12px;
  }
}







@media (max-width: 768px) {
  section{
    margin: 0 1rem;
  }
  
  h1.heading{
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /* header */
  .header{
    padding: 1rem 1.5rem 1rem 1rem;
  }
  .header img{
    width: 30px;
  }
  .header nav a{
    font-size: 14px;
    margin: .5rem;
  }
  .header .icons{
    font-size: 1rem;
  }
  /* home */

  .home h1{
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .home a.btn{
    font-size: 1rem;
    padding: .125rem .5rem;
  }
  
  .home img{
    width: 17.5rem;
  }
  
  /* about me */
  .aboutcontent{
    margin-bottom: 5rem;
  }

  .aboutcontent img{
    width: 10rem;
  }

  .aboutcontent .infomation{
    margin-right: 2rem;
  }

  .aboutcontent .intro{
    font-size: 13px;
  }

  .aboutcontent .paragraph{
    font-size: 10px;
  }

  .aboutcontent2 img{
    width: 11rem;
  }
  .aboutcontent2 .container{
    margin-left: .5rem;
  }
  .aboutcontent2 .intro{
    line-height: 1.5rem;
  }
  .aboutcontent2 .name{
    font-size: 1.5rem;
  }
  .aboutcontent2 .description{
    font-size: .95rem;
  }
  .aboutcontent2 .infomation{
    font-size: .8rem;
  }

  .aboutcontent2 .infomation span{
    font-size: .95rem;
  }
  .aboutcontent2 .column2{
    line-height: 1.25rem;
    font-size: .8rem;
    padding-left: .25rem;
  }
  .aboutcontent2 .column2 .title{
    font-size: 1rem;
  }
  
  .aboutcontent2 .column2 .payme{
    font-size: .55rem;
  }
  /* skills */
    
  .skills .title{
    font-size: .75rem;
  }
  
  .skills .description{
    font-size: 9px;
  }
  
  .skills .box{
    margin: 1rem 1rem;
    width: 9rem;
  }
  
  .skills .box img{
    width: 3rem;
    margin: 3rem;
  }  
  /* project section */
  
  .project .container .row img{
    width: 140px;
  }
  
  .project .container .row .infomation{
    padding: 2rem 1rem;
  }
  
  .project .container .row .infomation .name{
    font-size: 14px;
  }
  
  .project .container .row .infomation .description{
    font-size: 10px;
  }
      
  .project .container .row .infomation .link a{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 10px;
  
  }
    
  /* Contact section */
  
  .contact{
    padding: 1px 4rem 3rem 4rem;
  }
  
  .contact .share{
    margin-bottom: 1rem;
  }
  
  .contact .share a{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 15px;
  }
  
  .contact .share1{
    margin-bottom: 2rem;
  }
  
  .contact .share1 p{
    font-size: 12px;
  }

  .contact .share1 p span{
    font-size: 15px;
  }

  .contact .share1 .intouch #icon{
    margin: 0 8px;
    cursor: pointer;
  }
  
  .btn2 {
    padding: .2rem 1rem;
    font-size: 10px;
  }
    
  .footer p{
    font-size: 10px;
  }
}









@media (max-width: 640px) {
  section{
    margin: 0rem;
  }
  
  h1.heading{
    margin-top: 2rem;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  /* header */
  .header{
    padding: 1rem .5rem 1rem 0rem;
  }
  .header img{
    width: 25px;
  }
  .header nav a{
    font-size: 14px;
    margin: .5rem;
  }
  .header .icons{
    font-size: 16px;
  }
  /* home */

  .home h1{
    font-size: 2.9rem;
    line-height: 3rem;
  }
  .home a.btn{
    font-size: 1rem;
    padding: .125rem .5rem;
  }
  
  .home img{
    width: 12.5rem;
  }
  
  /* about me */
  .aboutcontent{
    margin-bottom: 5rem;
  }

  .aboutcontent img{
    width: 9rem;
  }

  .aboutcontent .infomation{
    margin-right: 2rem;
  }

  .aboutcontent .intro{
    font-size: 11px;
  }

  .aboutcontent .paragraph{
    font-size: 8px;
  }

  .aboutcontent2 img{
    width: 10rem;
  }
  .aboutcontent2 .container{
    margin-left: .5rem;
  }
  .aboutcontent2 .intro{
    line-height: 1rem;
  }
  .aboutcontent2 .name{
    font-size: 1rem;
  }
  .aboutcontent2 .description{
    font-size: .4rem;
  }
  .aboutcontent2 .infomation{
    font-size: .4rem;
  }

  .aboutcontent2 .infomation span{
    font-size: .4rem;
  }
  .aboutcontent2 .column2{
    line-height: 1rem;
    font-size: .4rem;
    padding-left: .25rem;
  }
  .aboutcontent2 .column2 .title{
    font-size: .85rem;
  }
  
  .aboutcontent2 .column2 .payme{
    font-size: .3rem;
  }
  /* skills */
    
  .skills .title{
    font-size: .5rem;
  }
  
  .skills .description{
    font-size: 5px;
  }
  
  .skills .box{
    margin: 1rem 1rem;
    width: 6rem;
  }
  
  .skills .box img{
    width: 2rem;
    margin: 2rem;
  }  
  /* project section */
  
  .project .container .row img{
    width: 120px;
  }
  
  .project .container .row .infomation{
    padding: 2rem 1rem;
  }
  
  .project .container .row .infomation .name{
    font-size: 9px;
  }
  
  .project .container .row .infomation .description{
    font-size: 7.25px;
  }
      
  .project .container .row .infomation .link a{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 10px;
  
  }
    
  /* Contact section */
  
  .contact{
    padding: 1px 4rem 3rem 4rem;
  }
  
  .contact .share{
    margin-bottom: 1rem;
  }
  
  .contact .share a{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 15px;
  }
  
  .contact .share1{
    margin-bottom: 2rem;
  }
  
  .contact .share1 p{
    font-size: 10px;
  }

  .contact .share1 p span{
    font-size: 12px;
  }

  .contact .share1 .intouch #icon{
    margin: 0 8px;
    cursor: pointer;
  }
  
  .btn2 {
    border: 1px solid var(--p-color);
    padding: .3rem .8rem;
    font-size: 10px;
  }
    
  .footer p{
    font-size: 8px;
  }
}





